<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>영화</title>
  </head>
  <body>
    <h1>영화</h1>
    <table border="1">
      <thead>
        <tr>
          <th>카테고리</th>
          <th>제목</th>
          <th>배우 이름</th>
          <th>역할</th>
        </tr>
      </thead>
      <tbody>
        <% movies.forEach(movie => { %>
        <tr>
          <td><%= movie.category %></td>
          <td><%= movie.title %></td>
          <td><%= movie.actorName %></td>
          <td><%= movie.role %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
