<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>해당하는 동물 페이지</title>
  </head>
  <body>
    <h1>해당하는 동물 페이지</h1>
    <ul>
      <li><%= animal.name %></li>
      <li><%= animal.like %></li>
    </ul>
  </body>
</html>
